<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.synergyyy">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.hardware.camera2.full" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.example.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icmmslogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icmmslogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginActivity"
        tools:targetApi="n">
        <activity
            android:name=".SearchSportsHubActivity"
            android:exported="false" />
        <activity
            android:name=".PredictiveMaintenence.CreatePredictiveActivity"
            android:exported="false" />
        <activity
            android:name=".General.NewPasswordActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="103.26.41.230"
                    android:path="/i-cmmstest/api/reset_password"
                    android:port="8086"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchTasks.TaskSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchTasks.UploadImagesTaskActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PurchaseOder.ViewPurchaseOnly"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UploadPdf.SearchForQuote"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchTasks.ImagesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".General.MlQrScannerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Search.EditFaultOnSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="EditFaultReportActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchTasks.UploadImageTask"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Messages.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Messages.MessagesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".General.MyBaseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScanLocation.ScanLocation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".General.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchTasks.SearchTaskActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PurchaseOder.UploadPurchasePdf"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="PurchaseOrderActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PurchaseOder.SearchForPurchase"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Otp.OtpActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Search.UploadFile"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Search.EditFaultReportActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setting.SettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EquipmentSearch.CheckListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UploadPdf.UploadPdf"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="UploadQuotationActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EquipmentSearch.PmTaskActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="PmTaskActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Search.EquipmentSearchActivityforEdit"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".General.MainActivityLogin"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EquipmentSearch.EquipmentScanActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Search.Search"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EquipmentSearch.QrDetails"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FaultReport.FaultReportActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Workspace.WorkspaceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <service android:name=".Services.MyFirebaseInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!--
        <service
            android:name="com.synergyyy.General.LocationService"
            android:enabled="true"
            android:exported="false" />
        -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.onesignal.BadgeCount"
            android:value="DISABLE" />
    </application>

</manifest>